!!! 5
html
	head
		title MODIVLE
		meta(charset="utf-8")
		meta(name='description',content="A NUS IVLE Client")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')

		//- useragent and env specific styles
		if useragent == "mobile"
			meta(name="viewport", content="width=device-width, user-scalable=no")
			if env == "prod"
				link(rel="stylesheet", href="/css/mobile_app.css")
			else if env == "dev"
				link(rel="stylesheet/less", href="/css/mobile_app.less")
				script(src="/js/libs/less-1.1.5.min.js")
		else if useragent == "desktop"
			if env == "prod"
				link(rel="stylesheet", href="/css/desktop_app.css")
			else if env == "dev"
				link(rel="stylesheet/less", href="/css/desktop_app.less")
				script(src="/js/libs/less-1.1.5.min.js")

		script(type="text/javascript").
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30405365-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			// ADD THIS AT THE BOTTOM OF YOUR GOOGLE ANALYTICS TRACKING CODE //
			window.onerror = function(message, file, line) { 
			var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message; 
			_gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]);
			}

		//- Mixpanel
		script(type="text/javascript")
			(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);
				a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};
				a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
			mixpanel.init("4be62d40dc0238dfd8f7358662df2977");
	body
		block content